h1{
    text-align: center;
    color: skyblue;
}
body{

    background-color: rgb(102, 101, 101);
}
h2{
    color: rgb(196, 38, 38);
}
h2:hover{
    color: rgb(92, 113, 233);
    cursor: pointer;
   }
   h2:active{
    color: red;
   }
   #copa-do-brasil{
    width: 400px;
    float: left;
   }
   #nogociacao{
    width: 400px;
    float: left;
   }
